.text {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

.heading, .content {
    padding: 15px;
    margin: auto;
    width: 15%;
    height: auto;
}

.heading {
    background-color: turquoise;
    border: solid rgb(64, 77, 224);
}

.content {
    margin-top: 10px;
    list-style-position: inside;
    border: solid red;
    background-color: rgb(255, 128, 149);
}
    